*
{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body
{
    background-color: rgb(176, 176, 176);
}

.main-container
{
    height: 95vh;
    width: 95vw;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .5rem;
    display: flex;
    background-color: white;
}

.left-sub-container
{
    height: auto;
    width: 60vw;
    border-radius: 10px;
    box-shadow: 1px 5px 10px 2px rgb(212, 212, 212);
    background-color: transparent;
}

.left-sub-container-header
{
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.right-side-of-left-sub-container-header
{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.right-side-of-left-sub-container-header .search
{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
}

.navigation-bar
{
    height: auto;
    padding: 10px 0px;
    margin-top: 5px;
    background-color: transparent;
}

.navigation-bar ul li
{
    display: inline;
    text-decoration: none;
    padding: 5px 20px;
    background-color: transparent;
}

.navigation-bar ul li button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.navigation-bar ul li:hover
{    
    background-color: rgb(255, 183, 0); 
    border-radius: 25px;
    color: white;
    cursor: pointer;
}

.navigation-bar ul li:first-child
{
    background-color: rgb(255, 183, 0); 
    border-radius: 25px;
    color: white;
    margin-left: 10px; 
}

.products-container
{
    height: auto;
    width: 100%;
    display: grid;
    padding-top: 10px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: auto auto auto auto;
    justify-content: space-around;
    row-gap: 5px;
    background-color: transparent;
}

.products
{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.products:hover
{
    border: 1px solid rgb(255, 183, 0);
}

.bottom-part-of-product
{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

.product-img
{
    height: 60px;
    width: 75px;
    border-radius: 5px;
}

.description
{
    color: gray;
}

.price-of-product
{
    color: rgb(255, 183, 0);
}

.right-sub-container
{
    height: auto;
    width: 40vw;
    background-color: transparent;
}

.right-sub-container-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

.clear-btn
{
    color: rgb(228, 0, 0);
    background-color: rgb(255, 217, 217);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
}

.clear-btn:hover
{
    border: 1px solid rgb(228, 0, 0);
}

.setting-btn
{
    background-color: rgb(232, 232, 232);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.setting-btn:hover
{
    border: 1px solid black;
}

.orders-container
{
    height: 40vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-size: 18px; 
    background-color: transparent;
}

.orders
{
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-around;
}

.ordered-product-name
{
    width: 8vw;
    text-align: justify;
}

.ordered-product-img
{
    height: 60px;
    width: 75px;
    border-radius: 5px;
}

.equals
{
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    padding: 3px 8px;
}

.plus
{
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    padding: 3px 8px;
}

.product-price
{
    width: 5vw;
    text-align: end;
}

.bill-container
{
    margin: 15px 10px 10px;
    padding: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 1px 5px 10px 2px rgb(212, 212, 212);
    font-weight: 500;  
}

.bill-details
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
}

.total
{
    margin-top: 15px;
}

.credit-wallet-container
{
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 5px 10px 2px rgb(212, 212, 212);
    justify-content: space-between; 
}

.left-side-of-credit-wallet-container
{
    display: flex;
    flex-direction: column;
}

.right-side-of-credit-wallet-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right-side-of-credit-wallet-container .cancel
{
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(178, 178, 178);
    border: none;
    cursor: pointer;
}

.credit-rupees
{
    color: rgb(255, 183, 0);
}

.pay-with-credit
{
    width: 38vw;
    margin-left: 15px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    color: white;
    text-transform: capitalize;
    background-color: rgb(255, 183, 0);
}